In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.DataFrame({
    'A': np.random.randint(1, 100, 10),
    'B': np.random.randint(1, 100, 10),
    'C': np.random.randint(1, 100, 10)
})

In [7]:
data.head()

    A   B   C
0   7  24   3
1  61  47  91
2  59  90  60
3  95  92  93
4  74   5  85

In [3]:
data.corr()

          A         B         C
A  1.000000  0.370096  0.642047
B  0.370096  1.000000  0.514544
C  0.642047  0.514544  1.000000

In [4]:
data.corr('kendall')

          A         B         C
A  1.000000  0.111111  0.422222
B  0.111111  1.000000  0.333333
C  0.422222  0.333333  1.000000

In [5]:
data.corr('spearman')

          A         B         C
A  1.000000  0.115152  0.515152
B  0.115152  1.000000  0.406061
C  0.515152  0.406061  1.000000